/* Bootsrap 3.3 Style Sheet Overrides for LibGuides */


/* overarching styles */

:root {
    --color-primary-red: #c8102e;
    --color-primary-teal: #00b388;
    --color-primary-gold: #f6be00;
    --color-primary-gray: #888b8d;
    --color-primary-cream: #fff9d9;
    --color-primary-white: #ffffff;
    --color-secondary-brick: #00866c;
    --color-secondary-green: #00866c;
    --color-secondary-mustard: #d89b00;
    --color-secondary-slate: #54585a;
    --color-tertiary-chocolate: #640817;
    --color-tertiary-forest: #005950;
    --color-tertiary-ocher: #b97800;
    --color-tertiary-black: #000000;
}

body {
    background: white;
    margin: 0 auto;
    max-width: none;
    padding-left: 0;
    padding-right: 0;
}



/* Nav Header */

.nav-pills>li.active>button,
.nav-pills>li.active>button:focus,
.nav-pills>li.active>button:hover {
    background-color: #c8102e;
    color: #fff
}

/* hide libguides assetts */

#s-lib-bc,
#s-lg-guide-header>.pull-right,
#s-lib-footer-public {
    display: none
}

#s-lg-guide-header-info {
    padding-top: 1rem;
    padding-bottom: .5rem
}

#s-lg-guide-main a {
    text-decoration: underline;
}

#s-lg-guide-main a:hover {
    color: #c8102e;
}

/* keep space from hiding under footer */

#s-lg-guide-main{
    margin-bottom: 2rem;
}

/* Header */

@media (max-width: 768px) {

    /* scale down logo on small screen */
    .img-responsive {
        width: 40%;
    }
}

/* Override default navbar heights in Bootstrap 3 */

.navbar,
.navbar-default {
    min-height: auto;
    background-color: #c8102e;
    border: none;
    margin-bottom: 0;
    border-radius: 0;
}

.navbar-brand img {
    max-width: 100%;
}

.navbar .navbar-brand,
.navbar-nav>li>a {
    height: auto;
    line-height: 1rem;
    padding: 8;
    background-color: transparent !important;
}

.navbar-nav>li>a {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 8px;
    padding-right: 8px;
    color: #ffffff;
}

.navbar-nav>ul {
    height: auto;
}

.navbar-nav>ul>li {
    height: auto;
}

.navbar-default .navbar-nav>li>a {
    color: #ffffff;
    opacity: 0.5;

}

.navbar-default .navbar-nav>li>a:hover {
    opacity: 1;
    color: #ffffff;
    transition: 0.25s;
    background: none;
}

.navbar-default .navbar-nav>li>a:focus {
    opacity: 1;
    color: #ffffff;
    transition: 0.25s;
    background: none;
}

/* Body */

/* schedule buttons */
#mysched_0, #mysched_105724 {
    background: var(--color-primary-red);
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    color: var(--color-primary-white);
    /* font: 14px Arial, Helvetica, Verdana; */
    padding: 8px 20px;
    cursor: pointer;
}

h2 {
    font-size: 1rem !important;
}



/*Footer*/

.bottom-nav {
    position: absolute;
    bottom: 40%;
    right: 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.text-white {
    color: #ffffff;
    font-size: 1rem;
    padding-top: 1rem;
}

footer a:hover,
a:focus {
    color: #ffffff;
}

footer a {
    color: #ffffff;
}

footer>a,
p {
    padding: .1rem;
}

footer>.navbar-fixed-bottom {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #c8102e;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
}

footer .container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

footer .icon {
    font-size: 1.5rem;
    padding: .3rem;
}

@media (max-width: 768px) {
    footer .icon {
        font-size: 1rem;
        padding: none
    }
}

[class^="bi-"]::before, [class*=" bi-"]::before {
    display: inline-block;
    font-family: bootstrap-icons !important;
    font-style: normal;
    vertical-align: -.25em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}